<div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default uk-margin">
        <h3 class="uk-card-title">Pie Chart test</h3>
        <div style="width: 100%; height: 100%">
            <pie-chart></pie-chart>                
        </div>
    </div>
    <global-filter></global-filter>
    <div class="uk-card uk-card-body uk-card-default uk-margin">
        <h3 class="uk-card-title">Filter test</h3>
        <div style="width: 100%; height: 100%">
                <bar-chart></bar-chart>                
        </div>
    </div>
</div>
